.App {
  /* text-align: center; */
  background-color: #E5E5E5;
  color: black;
}

.active {
  text-decoration: #7AB259;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FBD062;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header {
  padding-top: 5px;
  padding-left: 48px;
  padding-right: 48px;
}

.bann {
  background-image: url(/src/Image/homebg.png);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.img3 {
  width: 462.31px;
  height: 332.57px;
}

.textr {
  background-color: white;
  width: 630px;
}

.textarea {
  width: 630px;
  height: 277px;
  background-color: white;
}

.formbtn {
  margin-right: 470px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}